/* COLORS */

.bg-blue {
    background-color: rgb(64, 155, 240);
}

.bg-purple {
    background-color: rgb(198, 95, 246);
}

.bg-green {
    background-color: rgb(54, 226, 169);
}

.bg-scarlet {
    background-color: rgb(241, 60, 90);
}

.bg-smoke {
    background-color: rgba(139, 139, 139, 0.68);
}

/* TEXT COLOR */

.txt-light {
    color: rgb(238, 238, 238);
}