/* COLORS */
.bg-primary {
    background-color: #77B3F7;
}

.bg-secondary {
    background-color: #58687A;
}

.bg-dark {
    background-color: #3B587A;
}

.bg-light {
    background-color: #6090C7;
}

.bg-accent {
    background-color: #C2DBF9;
}

.accent {
    color: #C2DBF9;
}
