.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover {
    border-color: brown;
    background-color: coral;
    color: darkblue;
    font-weight: 700;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: darkblue;
}

.fancybox-caption {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}