/* BACKGROUND COLORS */
.red-bg {
    background-color: rgb(226, 82, 66);
}

.green-bg {
    background-color: rgb(106, 179, 138);
}

.yellow-bg {
    background-color: rgb(81, 126, 185);
}

.yellow-bg {
    background-color: rgb(222, 224, 85);
}

.purple-bg {
    background-color: rgb(154, 96, 212);
}