/* COLORS */
.dark-gray {
    background-color: rgb(16, 34, 43);
}

.olive {
    background-color: rgb(149, 171, 99);
}

.green {
    background-color: rgb(189, 214, 132);
}

.light-green {
    background-color: rgb(246, 255, 224);
}
