@import url(reset.css);
@import url(colors.css);
@import url(flex-order.css);


/* NAVIGATION */
nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 200px;
}

nav ul li {
    padding: 10px 0px;
    border-bottom: 2px solid black;
}

nav ul li:last-child {
    border-bottom: none;
}

@media (min-width: 768px){
    nav {
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
    }

    nav ul li {
        border-bottom: none;
        border-right: 2px solid black;
        flex-grow: 1;
        text-align: center;
    }

    nav ul li:last-child {
        border-right: none;
    }
}